.backgroundmain{
	background-color:#E6E6FA ;
	background-size: 100% 100%;
	margin-bottom: 0px;
	border-bottom:2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #000000;
    border-style: solid;

}
.selectpicker{
    width: 200px;
    height: 30px;
    font-size: 15px;
    font-weight: 200;
    padding-left: 6px;
    
}
.Form1{
    border-style: solid;
    border-left-width: 2px;
    border-left-color: #000000;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 150px;
    font-family: 'Cloud';
    font-weight: bold;
    background-color: #C0C0C0;
    border-radius: 10px;
    border-color:  #C0C0C0;
    color: #191970;

}

.Form2{
    border-style: solid;
    border-left-width: 2px;
    border-left-color: #000000;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 150px;
    font-family: 'Cloud';
    font-weight: bold;
    background-color: #C0C0C0;
    border-radius: 10px;
    border-color:  #C0C0C0;
    color: #191970;
}
.jumbotron{
    text-align: center;
    background-image: url(../images/bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    margin-bottom: 0px;
    padding-right: -50px;
    padding-left: -50px;


}
h1{
    color: #fff;

}
h2{
    margin-left: 10px;
    margin-bottom: : 20px;
    color: #fff;


}

.nav-item{
    font-color: #000000;

}

nav{
    background-color:#E6E6FA;
    margin-top: 1px;
    border-bottom:0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #000000;
    border-style: solid;
    margin-bottom: 0px;


}
.form-group{
    
    margin-left: 20;
}
.radio{
    margin-left: 20px;
}
#school{
    
    margin-left: 55px;
}
#name{
    
    margin-left: 35px;
}
#surname{
   
    margin-left: 15px;

}
#studentid{
    
    margin-left: 28px;
    margin-right: 70px;
}
.dropdown{
    margin-left: 18px;
}
#mobile{
    margin-left: 18px;
}
.combocheckbox{
    margin-left: 20px;
}
#mailfriend{
    margin-left: 25px;
}
.button{
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 44%;


}
.form-inline{
    margin-bottom: 20px;
}
.btn{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 1px;

    
}
.bottom{
    text-align: center;
    background-color: #778899;
}
