
/*index page*/ 
.backgroundmain{
	background-color:#E6E6FA ;
	background-size: 100% 100%;
	margin-bottom: 0px;
	border-bottom:2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #000000;
    border-style: solid;

}




.jumbotron{
	text-align: center;
	background-image: url(../images/bg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-bottom: 10px;
	margin-bottom: 0px;
	padding-right: -50px;
	padding-left: -50px;


}
h1{
	color: #fff;

}
h2{
    margin-left: 10px;
    margin-bottom: : 20px;
    color: #fff;


}

.nav-item{
	font-color: #000000;

}

nav{
	background-color:#E6E6FA;
	margin-top: 1px;
    border-bottom:0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #000000;
    border-style: solid;
    margin-bottom: 0px;


}
.Form1{
    border-style: solid;
    border-left-width: 2px;
    border-left-color: #000000;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 150px;
    font-family: 'Cloud';
    font-weight: bold;
    background-color:#808080;
    border-radius: 10px;
    border-color:#808080;
    color:  #FFDEAD;

}
.Form2{
    border-style: solid;
    border-left-width: 2px;
    border-left-color: #000000;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 150px;
    font-family: 'Cloud';
    font-weight: bold;
    background-color:#808080;
    border-radius: 10px;
    border-color:#808080;
    color:  #FFDEAD;

}



.bottom{
	text-align: center;
	background-color: #778899;
	

}
.form-group{
	margin-left: 20px;

}
.form-inline{
	margin-bottom: 20px;
}
.row{
	margin-bottom: 20px;
	
}
.member{
    font-weight: bold;
}