.backgroundmain{
	background-color:#E6E6FA ;
	background-size: 100% 100%;
	margin-bottom: 0px;
	border-bottom:2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #000000;
    border-style: solid;

}
.selectpicker{
    width: 200px;
    height: 30px;
    font-size: 15px;
    font-weight: 200;
    padding-left: 6px;
    
}
.Form1{
	border-style: solid;
    border-left-width: 2px;
    border-left-color: #000000;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 150px;

}
.Form2{
	border-style: solid;
    border-left-width: 2px;
    border-left-color: #000000;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 150px;

}




.jumbotron{
	text-align: center;
	background-image: url(../images/bg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-bottom: 10px;
	margin-bottom: 0px;
	padding-right: -50px;
	padding-left: -50px;


}
.form-inline{
	margin-bottom: 20px;
}
h1{
	color: #fff;


}

h2{
	margin-left: 10px;
	margin-top: 20px;
	color: #fff;
	

}

.nav-item{
	font-color: #000000;

}
form{
	margin-bottom: 0em;
}

nav{
	background-color:#E6E6FA;
	margin-top: 1px;
    border-bottom:0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #000000;
    border-style: solid;
    margin-bottom: 0px;


}
.button{
	margin-left: 600px;
	margin-bottom: 20px;

}

.form-group{
	
	margin-left: 20;
}


.radio-button{
	margin-top: 20px;
	

}
.radio{
	margin-left: 20px;
}


#form-line{
	margin-left: 60px;
}

#name{
	
	margin-left: 56px;
}
#surname{
	
	margin-left: 15px;

}
#room{
	margin-left: 60px;
}
.room{
	margin-left: 16px;
}
#studentid{
	
	margin-left: 23px;
}

.dropdown{
	margin-left: 15px;
}
#datetime{
	margin-left: 15px;

}
.check{
	margin-left: 20px;
	margin-bottom: 20px;

}
.checkbox{
	margin-top: 10px;
}
.combocheckbox{
	margin-top: 30px;
}
#comment{
	padding-right: 500px;
	margin-left: 20px;
}
.btn{
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 1px;
    border-bottom:0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #000000;
    border-style: solid;

	
}
#bulb{
	
	margin-left: 70px;
}
#b{
	margin-left: 12px;
}
.bottom{
	text-align: center;
	background-color: #778899;
}